DirectoryIndex index.html

Order Deny,Allow
Allow from all

Options -Indexes

<FilesMatch "(*vendor*)">
    Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # ...restrict access to PHP private directories
    RewriteRule (^|/)logs(/|$) - [F]
    RewriteRule (^|/)utils(/|$) - [F]
    RewriteRule (^|/)modules(/|$) - [F]
</IfModule>